	#preloader5 {
		position: absolute;
		width: 20px;
		height: 20px;
		background: #ffffff;
		border-radius: 50px;
		left: 47%;
		top: 45%;
		animation: preloader_5 1.5s infinite linear;
	}
	
	#preloader5:after {
		position: absolute;
		width: 40px;
		height: 40px;
		border-top: 10px solid #ffffff;
		border-bottom: 10px solid #ffffff;
		border-left: 10px solid transparent;
		border-right: 10px solid transparent;
		border-radius: 50px;
		content: '';
		top: -20px;
		left: -20px;
		animation: preloader_5_after 1.5s infinite linear;
	}
	
	@keyframes preloader_5 {
		0% {
			transform: rotate(0deg);
		}
		50% {
			transform: rotate(180deg);
			background: #ffffff;
		}
		100% {
			transform: rotate(360deg);
		}
	}
	
	@keyframes preloader_5_after {
		0% {
			border-top: 10px solid #69beff;
			border-bottom: 10px solid #69beff;
		}
		50% {
			border-top: 10px solid #69beff;
			border-bottom: 10px solid #69beff;
		}
		100% {
			border-top: 10px solid #69beff;
			border-bottom: 10px solid #69beff;
		}
	}
	
	#bg_mask {
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background: rgba(0, 0, 0, .3);
	}