.top-title{
	width: 100%; 
	height: 55px;
	
}
.top-item-text{
	color: #3f3f3f;
}
.top-item{
	float: left;
	width: 50%;
	height: 45px;
	font-size: 15px;
/*	margin-right: 0.3%;*/
	text-align: center;
	line-height: 35px;
	color: #3f3f3f;
	background: #ffffff;
}
 
.record_layout{
	width: 100%;
	background: white;
	height: 50px;
	position: relative;
}
.top-item-line{
	width: 80%;
	height: 1px;
	font-size: 15px;
	margin-left: 10%;
	text-align: center;
	color: #6faae6;
	background: #63a3ea;
}

.record_left_text{
	position: absolute;
	left: 5%; 
	font-size: 14px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	color: #3d3d3d;
}

.record_left_text_one{
	position: absolute;
	left: 5%; 
	font-size: 14px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	color: #8a8a8a;
}

.set_next_img{
	position: absolute;
	width: 10px;
	top: 16px;
	left: 93%;
}
.user_name{
	position: absolute;
	width: 90%;
	height: 50px;
	line-height: 50px;
	text-align: right;
	font-size: 15px;
	color: #8a8a8a;
}


.record_right_text{
	position: absolute;
	width: 95%;
	height: 50px;
	line-height: 50px;
	text-align: right;
	font-size: 15px;
	color: #8a8a8a;
}