
.search-layout{
	height: 40px;
	background: white;
	border: 1px solid #E5E5E5;
	border-radius: 10px;
	position: relative;
	margin-top: 10px;
	margin-left: 10px;
	width: 77%;
}
.search-layout img{
	width: 20px;
	margin-top: 8px;
	margin-left: 10px;
}
.search-layout .text{
	border: none;
	position: absolute;
	top: 0px;
	left: 40px;
	width: 80%;
	background: none;
}

.search-btn{
	position: absolute;
	background: #127ed8;
	color: white;
	right: 8px;
	top: 4px;
	border-radius: 5px;
}

